NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CHAIN_DISABLED=true
NEXT_PUBLIC_CHAIN_MODE=simulated
NEXT_PUBLIC_MONAD_CHAIN_ID=10143
NEXT_PUBLIC_MONAD_EXPLORER_URL=https://testnet.monadexplorer.com/tx/
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
EVIDENCE_SHIPMENT_SECRET=
EVIDENCE_ENCRYPTION_KEY=
NEXT_PUBLIC_DEMO_DATA_RETENTION_MINUTES=30
DEMO_DATA_RETENTION_MINUTES=30
MONAD_RPC_URL=
MONAD_WS_URL=
GATEWAY_PRIVATE_KEY=
CHAIN_DISABLED=true
AGENTS_ENABLED=true
AI_ENABLED=false
AI_BASE_URL=
AI_API_KEY=
AI_MODEL=
AI_REASONING_MODEL=
AI_FAST_MODEL=
AI_SAFETY_MODEL=
